<!DOCTYPE html>
{% load static %}
{% load rupluralize %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}
  <link rel="stylesheet" href="{% static static_prefix|add:'../css/style.min.css' %}">
  {% include './subtemplates/favicon_template.html' %}
</head>

<body>
  {% block content %}
  {% endblock %}

  <!-- {% include './block/instruction.html' %}

  {% include './block/gift.html' %}

  {% include './block/seo.html' %}

  {% include './block/footer.html' %} -->
</body>

</html>