.instruction {

    margin: 0 auto;

    &__items {
        display: flex;
        flex-wrap: wrap;
        // justify-content: space-between;
        background-color: #EDF1F7;
        justify-content: space-around;
        padding-top: 50px;
        padding-bottom: 7px;
    }

    &__item {

        text-align: center;
        margin-bottom: 43px;

        &-img {
            margin-bottom: 18px;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            width: 156px;
            text-align: center;
        }
    }
}