@media (min-width: 768px) {

    .header {
        background-color: #EDF1F7;
        overflow-x: hidden;

        // padding-bottom: 185px;

        &__top-inner {
            // display: flex;
            // justify-content: space-between;
            padding: 0 40px 0 40px;
            // align-items: center;

        }

        &__logo {
            display: flex;
            vertical-align: middle;
        }

        &__descr-text {
            margin-top: 0;
        }

        &__info {
            visibility: visible;
            margin-top: 22px;
        }

        &__content {
            margin-top: 10px;
            padding-left: 157px;
            padding-top: 41px;
            // padding-bottom: 45px;
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font-size: 32px;
            font-weight: 800;
            letter-spacing: -0.3px;
            line-height: 42px;
            width: 626px;
            margin-bottom: 50px;

        }

        &__advantages {
            margin-bottom: 46px;
        }

        &__button-desktop {
            padding-right: 78px;
            padding-left: 70px;
            position: relative;
            margin-bottom: 196px;

            &::before {
                position: absolute;
                content: "";
                width: 305px;
                height: 80px;
                left: -9px;
                top: -8px;

                border: 1px solid #00B6F8;
                box-sizing: border-box;
                border-radius: 40px;

            }

        }

    }

    .category {
        &__item {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            display: flex;
            justify-content: space-between;
        }
    }


    .slider-img {
        display: block;
        // overflow-x: hidden;

    }

    .logo {
        &__img {

            margin-right: 12px;
        }
    }

    .menu {
        display: none;
    }

    .advantages {

        &__item {
            line-height: 28px;
        }

        &__bottom {
            // display: inline-block;
            display: flex;
            justify-content: space-between;
            max-width: 676px;
            padding-left: 8px;
            letter-spacing: -0.9px;

            &-item {
                margin-right: 10px;
                // display: block;
            }
        }
    }

    .category {
        padding-top: 148px;
    }

    &__presents {
        display: flex;
        justify-content: space-between;
    }

}