@media (min-width: 480px) {

    .header {

        &__title {
            text-align: center;
        }
    }
}

@media (min-width: 576px) {

    .header {

        &__button-wrap {
            margin-top: 32px;
        }



    }
}

@media (min-width: 660px) {

    .advantages__bottom {
        display: flex;
        justify-content: space-between;
    }
}


@media (min-width: 768px) {

    .header {
        background-color: #EDF1F7;
        overflow-x: hidden;

        &__top-inner {

            padding: 0 40px 0 40px;
        }

        &__logo {
            display: flex;
            vertical-align: middle;
        }

        &__descr {
            margin-top: 0;
        }

        &__info {
            display: block;
            margin-top: 22px;
        }

        &__content {
            // display: flex;
            // justify-content: space-between;
            margin-top: 10px;
            // padding-left: 157px;
            padding-top: 41px;
        }

        &__title {
            font-size: 32px;
            font-weight: 800;
            letter-spacing: -0.6px;
            line-height: 42px;
            width: 610px;
            margin-bottom: 50px;
        }

        &__advantages {
            margin-bottom: 46px;
        }

        &__button {
            position: relative;
            padding-right: 78px;
            padding-left: 70px;
            // margin-bottom: 196px;

            &::before {
                position: absolute;
                content: "";
                width: 305px;
                height: 80px;
                left: -9px;
                top: -8px;

                border: 1px solid #00B6F8;
                box-sizing: border-box;
                border-radius: 40px;
            }
        }
    }

    .category {

        padding-top: 148px;

        &__item {
            display: flex;
            justify-content: space-between;

            &-top {
                &-img {
                    width: 351px;
                    height: 351px;
                }
            }

            &-box {
                padding-top: 38px;
                padding-left: 42px;
                padding-bottom: 10px;
            }

        }

        &__title {
            display: flex;
            justify-content: space-between;
        }
    }

    .logo {
        &__img {

            margin-right: 12px;
        }
    }

    .menu {
        display: none;
    }

    .advantages {

        &__item {
            line-height: 28px;

            &:nth-child(4) {

                display: block;
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            max-width: 676px;
            padding-left: 8px;
            letter-spacing: -0.9px;

            &-item {
                margin-right: 10px;
            }
        }
    }
}

@media (min-width: 992px) {

    .sidebar {
        display: block;

        &__content {
            position: sticky;
            top: 0;
        }
    }

    .wrapper {
        padding-right: 99px;
    }

    .header {

        &__content {
            position: relative;
        }

        &__img {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
        }

        &__button-wrap {
            text-align: left;
        }
    }
}

@media (min-width: 1300px) {

    body {
        max-width: 1366px;
    }

    .header {
        &__title {
            text-align: left;
        }

        &-wrapper {
            display: flex;
            justify-content: space-between;
        }

        &__content {
            padding-left: 157px;
        }

        &__button {
            margin-bottom: 165px;

            &-service {
                margin-top: 22px;
                margin-bottom: 122px;
                padding-right: 58px;
                padding-left: 54px;
            }
        }
    }

    .advantages {

        &__bottom {
            margin-bottom: 44px;
        }
    }

    .category {

        display: flex;
        padding: 0;
        justify-content: space-between;

        &__content {
            margin-top: 110px;
        }

        &__title {
            font-size: 32px;
            font-weight: 800;
            letter-spacing: -0.3px;
            margin-bottom: 65px;
        }

        &__presents {
            display: flex;
            justify-content: space-between;
            max-width: 750px;
            padding-left: 0;
            margin-bottom: 68px;

            &-item {

                margin-right: 25px;

                &-img {
                    width: 76px;
                    margin-right: 25px;
                }
            }
        }

        &__items {
            display: flex;
            flex-direction: column;
            display: none;

        }

        &__item {

            margin-bottom: 30px;

            &-top {

                &-img {
                    width: 351px;
                    height: 351px;
                }
            }

            &--1 {
                order: 0;
            }

            &--2 {
                order: 1;
            }

            &--3 {
                order: 2;
            }

            &--4 {
                order: 3;
            }

            &--5 {
                order: 4;
            }

            &--6 {
                order: 5;
            }

            &--7 {
                order: 6;
            }
        }
    }

    .instruction {

        order: 1;

        &__items {
            padding-top: 41px;
        }

        &__item {

            &-img {
                width: 200px;
                height: 200px;
            }

            &-text {
                width: 190px;
            }
        }
    }

    .gift {

        order: 4;

        padding-top: 24px;

        &__title {
            font-size: 32px;
            font-weight: 800;
            letter-spacing: -0.4px;
            padding-left: 0;
            margin-bottom: 55px;
        }

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__info {
            padding-left: 48px;
            padding-right: 48px;
            width: 400px;
        }

        &-title,
        &-text {
            padding-left: 26px;
        }

        &__electron {
            padding-bottom: 74px;

            &-text {
                width: 270px;
            }
        }

        &__column-right {
            margin-right: 51px;
        }

        &__print {

            &-card.container {
                padding: 0;
            }

            &-card {

                &-title,
                &-text {
                    padding-left: 0;
                    width: 250px;
                }

                &-img {
                    width: 301px;
                    height: 211px;
                }
            }
        }
    }

    .seo {
        padding-top: 4px;

        &__title {
            margin-bottom: 60px;
            padding-left: 0;
        }

        &__content {

            &-description {
                padding-left: 0;
                margin-bottom: 94px;
            }
        }
    }

    .footer {

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
            min-height: 146px;
            max-width: 100%;
        }

        &__logo {
            order: 0;
            margin: 50px 0 0 33px;
        }

        &__info {
            margin: 0 40px 0 0;
        }
    }

    .active-tab {
        display: flex;
    }
}