.route {

  .mobile__slider {
    .mobile__tabs {
      padding-bottom: 0;

    }
  }

  &__title {
    text-align: left;
    padding-left: 20px;
  }

  &-title {
    text-align: left;
    line-height: 34px;
    padding-left: 10px;
  }


  &-text {

    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding: 44px 33px 28px;
    background-color: #EDF1F7;
    // display: inline-block;

    p {
      margin-bottom: 16px;
    }
  }

  &-select-date {
    display: none;
  }

  &__photo {
    // display: none;

    // width: 100%;

    &-title {
      margin-top: 50px;
      margin-bottom: 44px;
      // text-align: left;
      padding-left: 10px;
    }

    &-item {
      width: 100%;
    }

  }

  &__knowledge {

    margin-top: 44px;
  }

  &__faq {
    margin-top: 56px;
    margin-bottom: 77px;
  }

  &__other {
    padding-top: 54px;
  }

  &__select-card {
    position: relative;
    display: flex;


    &::before {
      position: absolute;
      content: "";
      width: 139px;
      height: 51px;
      top: 30px;
      background: #fff;
      border-radius: 0px 30px 30px 0px;
    }
  }

}

.route__select-card {
  display: none;
}

.active-card-tab {
  display: flex;
}

.select-card-description {
  position: relative;
  // margin-bottom: 50px;
  background-color: #EDF1F7;
  z-index: 0;
  padding-top: 38px;
  padding-left: 35px;
  width: 100%;

}

.select-card-button {
  display: flex;
  margin-top: 12px;
  // padding-bottom: 30px;
  margin-left: 33px;
  position: relative;
  cursor: pointer !important;



}

.card-button-price {
  font-size: 16px;
  font-weight: 800;
  padding-left: 0;
  padding-top: 15px;
  padding-right: 20px;
}

.select-button {
  padding: 0;
  height: 51px;
  line-height: 51px;
  padding-left: 51px;
  padding-right: 80px;
  letter-spacing: 0px;
  cursor: pointer;

  &:before {
    right: 141px;
  }

  &::after {
    // position: absolute;
    // content: "";
    display: none;
    background-image: url(../img/svg/arr-small-down.svg);
    background-repeat: no-repeat;
    // width: 14px;
    // height: 18px;
    top: 62%;
    right: 49px;
    // transform: translateY(-50%);
  }
}

.select-svg {
  position: absolute;
  content: "";
  top: 44%;
  right: 127px;
  // width: 14px;
  // height: 18px;
  z-index: 999;
}

.select-card-title {
  font-size: 18px;
  font-weight: 700;
  width: 296px;
  line-height: 25px;
  margin-bottom: 20px;
}

.select-card-text-line {
  display: flex;
  vertical-align: top;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin-bottom: 16px;

  img {
    margin-right: 8px;

  }
}

.select-button-title {
  font-size: 12px;
  font-weight: 400;
}

.select-card-content {
  padding-bottom: 17px;
}

.select-card-img {
  img {
    height: 100%;
  }
}

.select.is-active .select__body {
  display: block;
}

.select__body {
  position: absolute;
  display: none;
  transition: 1s all;
}

.category__route-about {

  background-color: #EDF1F7;

  &-title {
    // margin-left: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }

  &-text {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
}

.category__route-description {
  background-color: #EDF1F7;
}

.route__map {
  position: relative;
  margin-top: 60px;

  img {
    width: 100%;
  }

  &-text {
    position: absolute;
    content: "";
    font-size: 14px;
    font-weight: 400;
    background: #fff;
    opacity: 0.8;
    min-height: 53px;
    text-align: right;
    bottom: 0;
    width: 100%;

    p {
      display: inline-block;
      max-width: 310px;
      padding-right: 12px;
      padding-top: 3px;

    }
  }

  img:nth-child(2) {
    display: none;
  }
}

// .route__select {
//   display: none;
// }

.route__photo-desktop {
  display: none;
}