// .caategory__route {
//     display: none;
// }

.route {

    .mobile__slider {
        .mobile__tabs {
            padding-bottom: 0;

        }
    }

    &__title {
        text-align: left;
        padding-left: 20px;
        // margin-top: -50px;
    }

    &-title {
        text-align: left;
        line-height: 34px;
        padding-left: 10px;
    }


    &-text {

        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        padding: 44px 33px 28px;
        background-color: #EDF1F7;
        display: inline-block;

        p {
            margin-bottom: 16px;
        }
    }

    &__photo {
        &-title {
            margin-top: 30px;
            margin-bottom: 44px;
        }
    }

    &__knowledge {

        margin-top: 44px;

        &-title {
            text-align: left;
            padding-left: 10px;

        }
    }


}

.category__route-about-title {
    margin-left: 20px;
    padding-top: 30px;
}

.category__route-about {
    background-color: #EDF1F7;

    &-text {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
    }

}

.category__route-map {
    position: relative;
    margin-top: 60px;

    img {
        width: 100%;
    }

    &-text {
        position: absolute;
        content: "";
        font-size: 14px;
        font-weight: 400;
        background: #fff;
        opacity: 0.8;
        min-height: 53px;
        text-align: right;
        bottom: 0;
        width: 100%;

        p {
            display: inline-block;
            max-width: 310px;
            padding-right: 12px;
            padding-top: 3px;

        }
    }
}

.category__route-date {
    display: none;
}

.temp {
    min-height: 257px;
    font-weight: 700;
    border: 1px solid yellow;
    background: yellow;
    text-align: center;
    padding-top: 80px;
}