// $red: #EF4352;
// $title: #313E46;
// $descr: #8E929B;
// $gray: #EDF1F7;
// $color_card: #FDFDFD;
// $footer_text: #4C4D4E;

$color-1: #f8f7ee; // light yellow
$color-2: #f05451; // red
$color-3: #29324e; // dark blue
$color-4: #ffffff; // white
$color-5: #c3c2b9; // brown - icons