@import "vars";
@import "libs";
@import "fonts";

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: 'Noto Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: #3B3A48;
    background-color: #fff;
    margin: 0 auto;
}

.container {
    padding: 0 20px;
    // margin: 0 auto;
}

.wrapper {
    // Контейнер для правой половины
    // max-width: 903px;
    // padding-right: 99px; c 992 включен
    margin-left: auto; // Это спасло меня ))
}

/// Элементы шапки-футера ///

.descr {
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -1.2px;
    margin-bottom: 55px;
    width: 170px;
}

.info {
    // visibility: hidden;
    display: none;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        width: 33px;
        height: 33px;
        border-radius: 50%;
        background: linear-gradient(223.45deg, #00B6F8 15.38%, #03D4F9 86.59%);
        box-shadow: 0px 0px 4px #01C4F8;
        left: -42px;
        top: 14px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 43px;
        height: 43px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px solid #00B6F8;
        left: -47.6px;
        top: 9px;
    }
}

.phone {
    font-size: 25px;
    font-weight: 800;
    line-height: 34px;
    letter-spacing: -0.6px;

    &-subtitle {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: -0.8px;
        padding-left: 6px;
        margin: 0;
    }

}

/// Основная кнопка ///

.button {
    display: inline-block;
    padding: 21px 59px 22px 66px;
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    letter-spacing: -0.06em;

    background: linear-gradient(223.45deg, #00B6F8 15.38%, #03D4F9 86.59%);
    box-shadow: 0px 0px 4px #01C4F8;
    border-radius: 36px;
}



/// Бургер меню ///

.menu {

    &__hamburger {
        position: fixed;
        z-index: 999;
    }

    &__btn {
        display: flex;
        /* используем flex для центрирования содержимого */
        align-items: center;
        /* центрируем содержимое кнопки */
        position: fixed;
        top: 40px;
        right: 33px;
        width: 54px;
        height: 26px;
        cursor: pointer;

        &>span,
        &>span::before,
        &>span::after {
            display: block;
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: #000;
            transition-duration: .25s;
        }

        &>span::before {
            content: '';
            top: -16px;
        }

        &>span::after {
            content: '';
            top: 16px;
        }
    }

    &__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        margin: 0;
        padding: 0 0;
        list-style: none;
        // text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        transition-duration: .25s;
        z-index: 900;
    }

    &__item {
        display: block;
        padding: 12px 24px;
        color: #3B3A48;
        // font-size: 20px;
        font-weight: 700;
        text-decoration: none;
        transition-duration: .25s;

        &::hover {
            background-color: #CFD8DC;

        }
    }
}

/////    Начало бургера  //////////////////

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.sidebar {

    display: none;

    margin-top: 81px;

    &__tab {
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 25px;
        padding: 28px 112px 28px 123px;

        &:hover {
            background: #EDF1F7;
            // opacity: 0.5;
            color: black;
            transition: all 0.5s;

        }

        &.active {
            background: #EDF1F7;
        }
    }
}



@import "header";
@import "advantages";
@import "category";
@import "instruction";
@import "gift";
@import "seo";
@import "footer";
@import "media";