{% load static %}
{% load rupluralize %}
<section class="category" id="category">


    <div class="atv__title">Прокат квадроциклов</div>

    <div class="atv__rental">

        <div class="atv__rental-features">
            <img class="features-img" src="{% static static_prefix|add:'../img/rout__img.png' %}" width="54px" alt="">
            <p class="features-text">Более <b>15 видов</b> маршрутов</p>
        </div>

        <div class="atv__rental-features">
            <img class="features-img" src="{% static static_prefix|add:'../img/price__img.png' %}" width="54px" alt="">
            <p class="features-text">Цены от <b>2 500 рублей</b></p>
        </div>
        <div class=" atv__rental-features">
            <img class="features-img" src="{% static static_prefix|add:'../img/plans__img.png' %}" width="54px" alt="">
            <p class="features-text">Более <b>25 видов</b> снегоходов</p>
        </div>

    </div>

    <div class="atv__rout">
        <div class="atv__rout-pref">Квадроциклы</div>
        <img class="atv__rout-img" src="{% static static_prefix|add:'../img/atv__img.jpg' %}" width="351px" alt="">

        <div class="route-wrap--mb">
            <div class="wrap-route-title">
                <p class="atv__rout-title">Название маршрута “Топовый в своём роде маршрут”</p>
            </div>

            <div class="atv__rout-program">
                <div class="program-item">Длинна маршрута: 20 км</div>
                <div class="program-item">Время маршрута: 1 час</div>
                <div class="program-item">Московская область, деревня Грибки (Дмитровское шоссе, 5 км от МКАД)</div>
            </div>
            <div class="atv__rout-about">
                <div class="atv__rout-price"></div>
                <a href="" class="atv__rout-link"></a>
            </div>
        </div>


    </div>



    </div>


</section>

<!-- <h2 class="title title--align_center title--pb category__title">
            {% with service_type_data_list|length as n_service_type_data_list %}
            {{ n_service_type_data_list }} {{ n_service_type_data_list|rupluralize:"вид,вида,видов" }} катаний
            {% endwith %}
        </h2>
        <div class="category__items">
            {% for service_type in '123' %}
            <div class="category__item category__item--kvadro" style="background-image: url({{ service_type.page_data.custom_photos.service_type_bg_image.big }});">
                <div class="category__item-title fl">Вид услуги {{ service_type }}</div>
                <div class="category__item-text">
                    <div class="text-line">Количество маршрутов: 5</div>
                </div>
                <div class="category__item-price">
                    от 2000 руб

                </div>
                <a href="{% url 'service_list' %}" class="button category__button">
                    Посмотреть маршруты
                </a>
            </div>
            {% endfor %}
        </div> -->