{% load static %}
{% load rupluralize %}
<section class="category" id="category">


    <div class="category__title">Прокат квадроциклов</div>

    <div class="category__presents">

        <!-- <nav class="category__menu">
            <ul>
                <li>Квадроциклы</li>
                <li>Снегоходы</li>
                <li>Лошади</li>
                <li>Другое</li>
                <li>Другое</li>
                <li>Другое</li>
            </ul>
        </nav> -->

        <div class="category__presents-item">
            <img class="category__presents-item-img" src="{% static static_prefix|add:'../img/rout__img.png' %}"
                width="54px" alt="">
            <p class="category__presents-item-text">Более <b>15 видов</b> маршрутов</p>
        </div>

        <div class="category__presents-item">
            <img class="category__presents-item-img" src="{% static static_prefix|add:'../img/price__img.png' %}"
                width="54px" alt="">
            <p class="category__presents-item-text">Цены от <br> <b>2 500 рублей</b></p>
        </div>

        <div class=" category__presents-item">
            <img class="category__presents-item-img" src="{% static static_prefix|add:'../img/plans__img.png' %}"
                width="54px" alt="">
            <p class="category__presents-item-text">Более <b>25 видов</b> снегоходов</p>
        </div>

    </div> <!-- /category__presents -->

    <div class="category__items">

        <div class="category__item category__item--kvadro">

            <div class="category__item-top">
                <img class="category__item-top-img" src="{% static static_prefix|add:'../img/atv__img.jpg' %}" alt="">
                <div class="category__item-top-title">Квадроциклы</div>
            </div>

            <div class="container category__item-box">
                <div class="category__item-title">Название маршрута “Топовый в своём роде маршрут”</div>

                <div class="category__item-text">

                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/gridicons_time.svg' %}" alt="">
                        <p>Время маршрута: 1 час</p>
                    </div>
                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/fa-solid_route.svg' %}" alt="">
                        <p>Длинна маршрута: 20 км</p>
                    </div>
                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/placeholder__1.svg' %}" alt="">
                        <p>Московская область, деревня Грибки (Дмитровское шоссе, 5 км от МКАД)</p>
                    </div>

                </div>

                <div class="category__item-bottom">
                    <p class="category__item-price">2 500 р</p>
                    <div class="button category__button">
                        <a href="service__detail">О маршруте</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="category__item category__item--kvadro">

            <div class="category__item-top">
                <img class="category__item-top-img" src="{% static static_prefix|add:'../img/atv__img.jpg' %}" alt="">
                <div class="category__item-top-title">Квадроциклы</div>
            </div>

            <div class="container category__item-box">
                <div class="category__item-title">Название маршрута “Топовый в своём роде маршрут”</div>

                <div class="category__item-text">

                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/gridicons_time.svg' %}" alt="">
                        <p>Время маршрута: 1 час</p>
                    </div>
                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/fa-solid_route.svg' %}" alt="">
                        <p>Длинна маршрута: 20 км</p>
                    </div>
                    <div class="category__item-text-line">
                        <img src="{% static static_prefix|add:'../img/svg/placeholder__1.svg' %}" alt="">
                        <p>Московская область, деревня Грибки (Дмитровское шоссе, 5 км от МКАД)</p>
                    </div>

                </div>

                <div class="category__item-bottom">
                    <p class="category__item-price">2 500 р</p>
                    <div class="button category__button">
                        <a href="service__detail">О маршруте</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>