{% load static %}
{% load rupluralize %}
<header class="header">
  <div class="header__top">
    <div class="container">
      <div class="header__top-inner">
        <div class="logo header__logo">
          <a class="logo__link" href="/">
            <img class="logo__img" src="{% static static_prefix|add:'../img/logo.png' %}" alt="logo">
          </a>
          <div class="descr header__descr">сервис - дескриптор</div>
        </div>
        <div class="info header__info">
          <a class="phone header__phone" href="tel:74956458787">+7(495) 645-87-87</a>
          <p class="phone-subtitle header__phone-subtitle">Есть вопросы? Звоните!</p>
        </div>
        <nav class="menu">
          <div class="menu__hamburger">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
              <span></span>
            </label>
            <ul class="menu__box">
              <li><a class="menu__item" href="#category">О маршруте</a></li>
              <li><a class="menu__item" href="#category">Наш адрес</a></li>
              <li><a class="menu__item" href="#category">Выберите квадроцикл</a></li>
              <li><a class="menu__item" href="#category">Программа маршрута</a></li>
              <li><a class="menu__item" href="#category">Фотографии катаний</a></li>
              <li><a class="menu__item" href="#category">Что ещё важно знать?</a></li>
              <li><a class="menu__item" href="#category">Ответы на вопросы</a> </li>
              <li><a class="menu__item" href="#category">Смотреть другие виды</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="header__content">
    <div class="container">
      <h1 class="header__title">Название маршрута “Топовый в своём роде маршрут”</h1>
      <div class="header__advantages">
        <div class="advantages__item">Время маршрута: 1 час</div>
        <div class="advantages__item">Цены от 3 500 рублей</div>
        <div class="advantages__item">Длина маршрута: 20 км</div>
        <div class="advantages__item">Прокат квадроциклов Щедрино</div>

      </div>
      <div class="header__button-wrap">
        <a class="button header__button header__button-service" href="#route">Подробнее о маршруте</a>
      </div>
      <div>
        <img class="header__img header__img-service" src="{% static static_prefix|add:'../img/kvadro.png' %}" alt="">
      </div>
      <div class="advantages__bottom">
        <p class="advantages__bottom-item">Работаем более <b>5 лет</b></p>
        <p class="advantages__bottom-item"><b>Безопасное</b> онлайн бронирование</p>
        <p class="advantages__bottom-item">Работаем более <b>5 лет</b></p>
      </div>
    </div>
  </div>
</header>