{% load static %}
{% load rupluralize %}

<section class="route__other">

    <div class="category__content">
        <div class="wrapper">
            <div class="route-title category__title">Ещё маршруты</div>

            <div class="category__item category__item--other">

                <div class="category__item-top">
                    <img class="category__item-top-img" src="{% static static_prefix|add:'../img/atv__img.jpg' %}"
                        alt="">
                    <div class="category__item-top-title">Квадроциклы</div>
                </div>

                <div class="container category__item-box">
                    <div class="category__item-title">Название маршрута “Топовый в своём роде маршрут”</div>

                    <div class="category__item-text">

                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/gridicons_time.svg' %}" alt="">
                            <p>Время маршрута: 1 час</p>
                        </div>
                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/fa-solid_route.svg' %}" alt="">
                            <p>Длинна маршрута: 20 км</p>
                        </div>
                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/placeholder__1.svg' %}" alt="">
                            <p>Московская область, деревня Грибки (Дмитровское шоссе, 5 км от МКАД)</p>
                        </div>

                    </div>

                    <div class="category__item-bottom">
                        <p class="category__item-price">2 500 р</p>
                        <div class="button category__button">
                            <a href="service_list">О маршруте</a>
                        </div>

                    </div>

                </div>

            </div>

            <div class="category__item category__item--other">

                <div class="category__item-top">
                    <img class="category__item-top-img" src="{% static static_prefix|add:'../img/atv__img.jpg' %}"
                        alt="">
                    <div class="category__item-top-title">Квадроциклы</div>
                </div>

                <div class="container category__item-box">
                    <div class="category__item-title">Название маршрута “Топовый в своём роде маршрут”</div>

                    <div class="category__item-text">

                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/gridicons_time.svg' %}" alt="">
                            <p>Время маршрута: 1 час</p>
                        </div>
                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/fa-solid_route.svg' %}" alt="">
                            <p>Длинна маршрута: 20 км</p>
                        </div>
                        <div class="category__item-text-line">
                            <img src="{% static static_prefix|add:'../img/svg/placeholder__1.svg' %}" alt="">
                            <p>Московская область, деревня Грибки (Дмитровское шоссе, 5 км от МКАД)</p>
                        </div>

                    </div>

                    <div class="category__item-bottom">
                        <p class="category__item-price">2 500 р</p>
                        <div class="button category__button">
                            <a href="service_list">О маршруте</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>



</section>