<!DOCTYPE html>
{% load static %}
{% load rupluralize %}
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}

  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="{% static static_prefix|add:'../css/libs/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static static_prefix|add:'../css/libs/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static static_prefix|add:'../css/style.min.css' %}">

  {% include './subtemplates/favicon_template.html' %}
</head>

<body>


  {% block content %}
  {% endblock %}

  {% include './block/seo.html' %}
  {% include './block/footer.html' %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static static_prefix|add:'../js/libs/owl.carousel.min.js' %}"></script>


  <script src="{% static static_prefix|add:'../js/main.js' %}"></script>


</body>

</html>